<h2><%= @current_user.first_name %> <%= @current_user.last_name %></h2>

<div class="profile">
  <% if @current_user.type == "Driver" %>
    <p id="email"><%= @current_user.email %></p>
    <p id="phone_number"><%= @current_user.phone_number %></p>
    <p id="license"><%= @current_user.license %></p>
    <p id="license_expiry"><%= @current_user.license_expiry %></p>
    <p id="province"><%= @current_user.province %></p>

  <% elsif @current_user.type == "Customer" %>
    <p id="email"><%= @current_user.email %></p>
    <p id="phone_number"><%= @current_user.phone_number %></p>
  <% end %>


</div>
